@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ========== CORE STYLES ========== */
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/utils.css';

/* ========== COMPONENTS ========== */
@import './styles/core-layout.css';
@import './styles/components/buttons.css';
@import './styles/components/modal.css';

/* ========== SCREENS ========== */
@import './styles/screens.css';