/* ========== MAIN STYLES ========== */
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/utils.css';
@import './styles/components/buttons.css';

/* Features */
@import './styles/features/control-panel.css';
@import './styles/features/songs.css';
@import './styles/features/video.css';
@import './styles/features/lyrics.css';
@import './styles/features/live.css';
@import './styles/features/settings.css';
@import './styles/features/projection.css';